{% extends 'base_auth.html' %}
{% load static %}

{% block content %}


<div class="row">
	<div class="col-md-4"> </div>
	<div class="col-md-4">  
		<div class="card mt-5">
			
			<div class="card-body">
				<div class="card-title py-3">
				<h4>Register for a free account </h4>
			</div>
				<form action="{% url 'register' %}" method="post">

					{% csrf_token %}

					{% include 'partials/_messages.html' %}
          <!-- Username -->
					<div class="form-group">
						<input type="text" id="usernameField" name="username" placeholder="UserName" class="form-control form-control-sm" value="{{fieldValues.username}}"
            />
					</div>
						<div class="invalid_feedback invalid-feedback" style="display: none"></div>
						<p class="text-sm text-success usernameSuccessOutput"></p><br>
					
          <!-- Email -->
					<div class="form-group">
						<input type="email" id="emailField" name="email"  placeholder="Email" class="form-control form-control-sm" value="{{fieldValues.email}}" />
					</div>
						<div class="emailFeedBackArea invalid-feedback" style="display: none"></div>
						<p class="text-sm text-success emailSuccessOutput"></p><br>
					
          <!-- Password -->
					<div class="form-group">
					<input type="password" id="passwordField" name="password"  placeholder="Password" class="form-control form-control-sm" />
					<!-- Show/Hide Button -->
					<small class="py-2 showPasswordToggle">SHOW</small>

					</div>

          
          <!-- Register Button -->
					<input type="submit" class="btn btn-primary w-100 submit-btn" value="Register"  />

				</form>
				<div class="container">
        <span class="text-lead lead"> Have an account? </span><a href="{% url 'login' %}">Login</a><br/>
      <span class="text-lead lead"> Forgot Password? </span><a href="{% url 'request-password' %}">Reset Password</a>
        
      </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4"> </div>
<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}